<h1><%= encabezado %> </h1>
<a href="http://subefotos.com/ver/?0fa49f1ba2fd78959ef2160b6f33c470o.jpg" target="_blank"> <img src="http://thumbs.subefotos.com/0fa49f1ba2fd78959ef2160b6f33c470o.jpg" width="30" height="30" /></a>
<p><b>Nombre del Autor: </b>JmBmP</p>
<p><b>País: </b>España</p>
<p><b>Video: </b></p>
<div class="js-video">
  <iframe width="50%" height="50%" src="https://www.youtube.com/embed/BZP1rYjoBgI" frameborder="0" allowfullscreen></iframe>
</div>
