<h1><%= encabezado %> </h1>
<img src="https://yt3.ggpht.com/-wRgHM5o_dM4/AAAAAAAAAAI/AAAAAAAAAAA/IYWyWN400ig/s100-c-k-no/photo.jpg">
<p><b>Nombre del Autor: </b>Daniel Bojorge</p>
<p><b>País: </b>Nicaragua</p>
<p><b>Video: </b></p>
<div class="js-video">
  <iframe width="50%" height="50%" src="http://www.youtube.com/embed/jlPz_IQxGmE?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>